#editButton {
    -fx-background-color: rgb(217, 217, 217);
}

#menu {
    -fx-font-size: 20px;
    -fx-background-color: white;
}

.text-field{
    -fx-border-color: black;
    -fx-border-radius: 5px;
}
